[user]
	name = Deepak Jois
	email = deepak.jois@gmail.com
	signingkey = 77DA8872520DA130
[color]
	status = auto
	diff = auto
	branch = auto
[merge]
	tool = opendiff
[core]
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	co = checkout
	br = branch
	ci = commit
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	g = grep --break --heading --line-number
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
  # sync = codereview sync
  sync = "!f(){ local branch=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e \"s/* \\(.*\\)/\\1/\"`; git pull origin $branch && git push origin $branch; }; f"
[github]
	user = deepakjois
[rebase]
	autostash = true
[push]
	default = current
[grep]
	extendRegexp = true
	lineNumber = true
[include]
	path = .gitconfig.local

[commit]
	gpgsign = true
[credential]
	helper = store
